// Site-wide styles go here
// What shouldn't go here
//   - global declartive classes, mixins, or variables, that goes in -lib.scss

@import "bourbon/_bourbon";

@import "_vertical_rhythmic";

html {
  height: 100%;
  overflow: auto !important;
}

body {
  -webkit-text-size-adjust: none;
  background: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Verdana;
  position: relative;
  min-height: 100%;
}

a {
  color: #006699;
  text-decoration: none;
  word-wrap: break-word;
}

ul, li, p {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a, a:link {
  // -webkit-tap-highlight-color: rgba(225, 244, 204, 0.5);
}

img {
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

